body{
    display: grid;
    height: 150vh;
    grid-template-rows: auto 1fr auto;
}
header{
    background-color: rgb(65, 57, 57);
    text-align: center;
    padding: 2em;
}
main{
    background-color:rgb(141, 82, 82) ;
    text-align: center;
    padding: 2em;
}
footer{
    background-color: antiquewhite;
    text-align: center;
    padding: 2em;
}