body{
    display: grid;
    height: 200px;
    grid-template-areas: "head head"
                        "nav main"
                        "footer footer";
    grid-template-rows: 30px 1fr 30px; /*30pxüstten  30px alttan 1fraction olsn*/
    grid-template-columns: 150px 1fr; /*150px sonra diğerini koy*/
}
header{
    grid-area:head;
    background-color: lightsalmon;
}
.nav-bar{
    grid-area: nav;
    background-color: lightblue;
}
main{
    grid-area: main;
    background-color: lightseagreen;

}
footer{
    grid-area: footer;
    background-color: firebrick;
}