.parent{
    display: grid;
    grid-template-columns: repeat(12,1fr);

}
.segment{
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-rows: 100px;
}
.twelve{
    background-color: lightblue;
    grid-column: 1/span 12 ;
}
.eight{
    background-color: bisque;
    grid-column: 5/span 8;
}
.four{
    background-color: lightcoral;
    grid-column: 1/span 4;
}
.six{
    background-color: rgb(87, 202, 121);
    grid-column: 5/span 6;
}
.seven{
    background-color: rgb(175, 64, 166);
    grid-column: 3/span 7;
}