.a{
    margin: 30px;
    transform: skewX(20deg);
    transition: 5s;
}
.b{
    margin: 100px;
    transform: rotate(20deg);
    transition: 5s;
}
.box{
    display: grid;
    width: 240px;
    height: 240px;
    margin: 100px;
    background-color: rgb(31, 233, 31);
    border-radius: 12px;
    border: solid rgb(6, 32, 6);

}
.box:hover{
    transform: rotateZ(60deg);
    background-color: lightcoral;
    opacity: 50%;
    transition: 3s;
}